:root {
    --cor-de-fundo:  #EBECEE;
}

body {
background-color: var(--cor-de-fundo);
}

h1 { 
    color: rgb(109, 110, 197);
    text-align: center;
}
 foto1# {
    width:10px;
    margin: top 1px;
 }
 foto2#{
width:8;
margin: top 1px;
 }
